<md-dialog aria-label="Login">
	<div>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3>Log in</h3>
				<span flex></span>
				<md-button type="button" class="md-icon-button" ng-click="cancel()">
					<i class="fa fa-times" aria-label="Close dialog"></i>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content">
				<p><b>Name: </b>{{user.name}}</p>
				<p><b>Title: </b>{{user.title}}</p>
				<p><b>Platform: </b>{{user.platform}}</p>
				<p><b>Location: </b>{{user.location}}</p>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row" layout-aligh="center center" class="md-margin">
			<md-button type="button" class="md-raised md-primary" aria-label="login" ng-click="" ng-disabled="">
				Log in
			</md-button>
			<md-button type="button" class="md-raised md-primary" aria-label="signup" ng-click="">
				Sign up
			</md-button>
		</md-dialog-actions>
	</div>
</md-dialog>