<md-dialog aria-label="Login">
	<div>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h3>Log in</h3>
				<span flex></span>
				<md-button type="button" class="md-icon-button" ng-click="cancel()">
					<i class="fa fa-times" aria-label="Close dialog"></i>
				</md-button>
			</div>
		</md-toolbar>
		<form name="loginSign" ng-submit="login()" class="md-padding">
			<md-input-container class="input_containers">
				<md-icon class="fa fa-user" aria-hidden="true"></md-icon>
				<input type="email" placeholder="Email Address" ng-model="email" required>
			</md-input-container>
			<br>
			<md-input-container class="input_containers">
				<md-icon class="fa fa-key" aria-hidden="true"></md-icon>
				<input type="password" placeholder="Password" ng-model="password" required>
			</md-input-container>
			
			<div layout="row" layout-aligh="center center" class="md-margin">
				<md-button type="submit" ng-disabled="loginSign.$invalid" class="md-raised md-primary" 
							aria-label="login">
					Log in
				</md-button>
				<md-button type="button" class="md-raised md-primary" aria-label="signup" ng-click="">
					Sign up
				</md-button>
			</div>
		</form>	
	</div>
</md-dialog>