<h2>List View</h2>

<H3>The Number of Cars: {{vm.cars.length}}</H3>

<md-list flex>
	<md-list-item class="md-2-line">
		<div class="md-list-item-text" ng-repeat="(header, value) in vm.cars[0]">
			<span>{{header}}</span>
		</div>
	</md-list-item>
	<md-list-item class="md-2-line secondary-button-padding"  ng-repeat="car in vm.cars" ng-click="null">
		<div class="md-list-item-text" ng-repeat="(key, value) in car">
			{{value}}
		</div>
		<md-button class="md-secondary" ui-sref="car_detail">More Info</md-button>
	</md-list-item>
<md-list>